body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202020;
  color: white;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2c2c33; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #555; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  border-style: none;
}

.header {
  margin: 10px;
  padding: 10px;
  border-style: dotted;
  display:flex;
}

.navbar {
  display: flex;
  flex-direction: row;
}

.navbarItem {
  display:flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  color: white;
  text-decoration: none;
}

#test {
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  border-style: dotted;
  width: 67%;
}

#test > p {
  word-wrap: break-word;
}

.tileWrap {
  margin: 10px;
  padding: 10px;
  border-style: dotted;
  flex: 1 1 30%;
  position: relative;
  display: inline-block;
}

.tileImage {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.1;
}

.tileTextLayer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.tileWrap:hover .tileTextLayer {
  visibility: visible;
  opacity: 1;
}

.tileText {
  transition: .2s;
  transform: translateY(1em);
}

.tileWrap:hover .tileText {
  transform: translateY(0);
}

.tilesContainer {
  border-style: dotted;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 67%; 
}

.aboutWrapper {
  border-style: dashed;
  margin: auto;
  margin-top: 10px;
  padding: 10px;
  width: 50%;
}

.aboutHeader {
  margin-bottom: 10px;
}